*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f5f5f5;
}

.hero img{
    height:450px;
    object-fit:cover;
}

.card{
    transition:0.4s;
    border:none;
    overflow:hidden;
}

.card:hover{
    transform:translateY(-10px);
    cursor:pointer;
}

.card img{
    height:350px;
    object-fit:cover;
}

footer{
    margin-top:50px;
}

.navbar-brand img{
    height:40px;
    width:auto;
}

.navbar-nav .nav-link{
    font-size:18px;
    margin-right:10px;
    font-weight:500;
}

.navbar-nav .nav-link{
    color: white ;
    font-size: 17px;
    font-weight: 500;
    margin-left: 10px;
    transition: 0.3s;
}

.navbar-nav .nav-link:hover{
    color: #f84464 ;
}

.navbar-brand img{
    height: 40px;
    width: auto;
}

.card{
    transition:0.4s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 5px 20px rgba(0,0,0,0.2);
}

.btn-danger{
    background:#f84464;
    border:none;
}